.cc-window {
    z-index: 99999;
}
.cc-header {
    color: var(--cookie-title-color);
}
.cc-message {
    font-size: 14px;
    color: var(--cookie-text-color);

    p {
        margin-bottom: 0;
    }

    a {
        color: var(--cookie-text-color);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.cc-window.cc-banner {
    gap: 10px;
    border-radius: var(--cookie-border-radius);
    border: var(--cookie-border);
    padding: var(--cookie-padding);

    @media (max-width: 1023.98px) {
        flex-direction: column;
        align-items: unset;
    }

    @media (max-width: 700px) {
        gap: 0;

        .cc-message p {
            margin: 0;
        }
    }
}

.cc-theme-classic {
    .cc-btn:last-child {
        min-width: auto;
    }
}
